<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @item.address %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @item.amount %>
</p>
<ul class="list-group">
  <% @item.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<p><% if policy(@item).edit? %>
              <%= link_to 'Edit', edit_item_path(@item) %>
            <%end%>
        </p>
<p><% if policy(@item).create? %>
  <%= link_to 'Leave a review', new_item_review_path(@item) %>
  <%end%>

</p>
<p><%= link_to 'Back', items_path %></p>
